<% if @owners.any? %>
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">オーナー一覧</h3>
      <div class="box-tools">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
    <div class="box-body no-padding">
      <table class="table">
        <tbody>
          <tr>
            <th>名前</th>
            <th>チーム数</th>
          </tr>
          <% @owners.each do |owner| %>
            <tr>
              <td><%= owner.last_name %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="callout callout-danger">
    <p>オーナーが登録されていません</p>
  </div>
<% end %>
