<%= javascript_pack_tag 'users/shift_adjustments/new' %>
<%= stylesheet_pack_tag 'users/shift_adjustments/new' %>

<div class="row">
  <div class="col-md-8">
    <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">シフト調整</h3>
        </div>
        <div class="box-body">
          <div id="shift_adjustments_new" data-shift_submission_id="<%= @shift_submission.id %>"></div>
        </div>
    </div>
  </div>
</div>
