<p><%= @resource.email %>さん</p>

<p>あなたのメールアドレスからパスワードのリセットが要求されました。</p>

<p>パスワードのリセットは以下のリンクから行うことができます。</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストに覚えがない場合、このメールは無視してください。</p>

<p>あなたのパスワードは上記のリンクより再設定しない限り、変更されません。</p>
