<div class="row">
  <div class="col-md-6">
    <div class="box box-default">
      <%= bootstrap_form_for(@member, url: users_members_path, method: :post, inline_errors: false) do|f| %>
        <div class="box-header with-border">
          <h3 class="box-title">チームに参加する</h3>
        </div>
        <div class="box-body">
          <%= f.alert_message "以下のエラー内容を修正してください" %>
          <%= f.text_field :identifier, placeholder: '参加するチームの認証コード', autocomplete: "off" %>
        </div>
        <div class="box-footer">
          <%= f.submit '参加する', class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
