<%= javascript_pack_tag 'admins/teams/new' %>
<%= stylesheet_pack_tag 'admins/teams/new' %>

<div class="row">
  <div class="col-md-6">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">チーム登録</h3>
      </div>
      <div class="box-body">
        <div id="teams_new" data-owner_id="<%= @owner.id %>">
      </div>
    </div>
  </div>
</div>
