<%= javascript_pack_tag 'admins/shift_submissions/edit' %>
<%= stylesheet_pack_tag 'admins/shift_submissions/edit' %>


<div class="row">
  <div class="col-md-8">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">シフト希望変更</h3>
      </div>
      <div class="box-body">
        <div id="shift_submissions_edit" data-shift_submission_id="<%= @shift_submission.id %>"></div>
      </div>
    </div>
  </div>
</div>
