<header class="main-header">
  <%= link_to users_home_index_path, class: 'logo' do %>
    <span class="logo-lg">シフトマネージャー</span>
  <% end %>
  <nav class="navbar navbar-static-top">
  </nav>
</header>
