<div id="contact-wrap">
  <div class="container">
    <h3 style="color: #ffffff"><b><%= Settings.title %>運営事務局</b></h3>
    <p>メールアドレス: <a href="mailto:#">info-shifpon@shifpon.com</a></p>
    <br>
    <hr>
    <h2 style="color: #ffffff"><b><%= Settings.title %></b></h2>
  </div>
</div>