<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1><%= Settings.title %></h1>
        <h2>シフト管理を楽にする</h2>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div>