<div class="container">
  <div class="row mt">
    <div class="col-lg-12">
      <h1></h1>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-4">
      <%= image_tag('main01.png', class: 'img-responsive') %>
      <br>
      <h3><b>シフトの調整の手間を削減</b></h3>
      <p>シフトの提出のために店舗に出向く必要はありません。パソコンやスマホからシフトの調整が可能です。</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag('main02.png', class: 'img-responsive') %>
      <br>
      <h3><b>使いやすさを追求したシンプルさ</b></h3>
      <p>シフPONでできることは、シフトの提出とシフトの調整のみ。紙ベースでやるのと同じぐらいのわかりやすさを提供しています。</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag('main03.png', class: 'img-responsive') %>
      <br>
      <h3><b>LINEと連携し、より使いやすく</b></h3>
      <p>シフPONのLINE公式アカウントと、対話的にやり取りするだけでシフトの提出が可能です。</p>
    </div>
  </div>
</div>