<div id="services">
  <div class="container">
    <h2><b>料金プラン</b></h2>
    <div class="row mt">
      <div class="col-lg-2 centered">
      </div>
      <div class="col-lg-4">
        <hr>
        <h2><b>基本プラン</b></h2>
        <p><b>無料</b></p>
        <%= link_to '詳細はこちら', '#', class: 'btn btn-default btn-large' %>
      </div>
      <div class="col-lg-4">
        <hr>
        <h2><b>プレミアムプラン</b></h2>
        <p><b>１メンバーあたり１０８円（税込）</b></p>
        <%= link_to '詳細はこちら', '#', class: 'btn btn-default btn-large' %>
      </div>
    </div>
  </div>
  <br>
</div>
