<%= javascript_pack_tag 'users/members/unapprovals/new' %>
<%= stylesheet_pack_tag 'users/members/unapprovals/new' %>

<div class="row">
  <div class="col-md-6">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">チームに参加する</h3>
      </div>
      <div class="box-body">
        <div id="members_unapprovals_new"></div>
      </div>
    </div>
  </div>
</div>
