<div class="row">
  <div class="col-md-3">
    <div class="box">
      <div class="box-header">
        <h4 class="box-title">参加チーム</h4>
      </div>
      <div class="box-body no-padding">
        <table class="table">
          <tbody>
            <% current_user.teams.each do |team| %>
              <tr>
                <td><%= team.name %></td>
                <td><span class="text-aqua"><i class="fa fa-square"></i></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
