<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <div class="user-panel">
    </div>
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      </li>
      <li>
        <%= link_to destroy_admin_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i> <span>ログアウト</span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
