<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <div class="user-panel">
    </div>
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      </li>
      <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
      <li><%= link_to 'オーナー一覧', admins_owners_path %></li>
      <li><%= link_to 'オーナー登録', new_admins_owner_path %></li>
    </ul>
  </section>
</aside>
