@font-face {
  font-family: 'fontAwesome';
  src: font-url('font-awesome/FontAwesome') format('otf');
  src: font-url('font-awesome/fontawesome-webfont') format('svg');
  src: font-url('font-awesome/fontawesome-webfont') format('ttf');
  src: font-url('font-awesome/fontawesome-webfont') format('woff');
  src: font-url('font-awesome/fontawesome-webfont') format('woff2');
  src: font-url('font-awesome/fontawesome-webfont') format('eot');
  font-weight: normal;
}
