<div id="serviceswrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>
          <%= "#{plan_name}について" %>
        </h2>
      </div>
    </div>
  </div>
</div>
<%= render 'home/navbar' %>