<%= render 'header', plan_name: '基本プラン' %>

<div class="container">
  <div class="row mt">
    <div class="col-lg-8">
      <h1>ご利用料金</h1>
      <hr>
      <h3 style="border-bottom: solid 5px #87CEFA"><b>無料</b></h3>
      <br>
    </div>
    <br>
  </div>
</div>

<div id="services">
  <div class="container">
    <div class="row mt">
      <h1 style="color: white">提供機能</h1>
      <hr>
      <div class="col-lg-1 centered">
        <i class="fa fa-calendar"></i>
      </div>
      <div class="col-lg-3">
        <h3>シフトの調整</h3>
        <p>提出されたシフトを調整していただくことができます。</p>
      </div>

      <div class="col-lg-1 centered">
        <i class="fas fa-chart-bar"></i>
      </div>
      <div class="col-lg-3">
        <h3>シフト表の出力</h3>
        <p>調整したシフトは、シフト表でご覧いただくことができます。</p>
      </div>

      <div class="col-lg-1 centered">
        <i class="fas fa-user-cog"></i>
      </div>
      <div class="col-lg-3">
        <h3>シフト調整者の設定</h3>
        <p>シフト調整者権限の有無を各メンバーにご設定いただくことができます。</p>
      </div>

      <div class="col-lg-1 centered">
        <i class="fab fa-line"></i>
      </div>
      <div class="col-lg-3">
        <h3>LINEとの連携</h3>
        <p>シフPONのLINE公式アカウントと連携いただくことで、シフト希望の提出ができます。</p>
      </div>
    </div>
  </div>
</div>

<%= render 'home/contact' %>
<%= render 'home/footer' %>